<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the app</h3>
      <hr>
      <!-- <div app-servers></div>  -->
      <app-servers></app-servers>
      <!-- <div class="app-servers"></div> -->
    </div>
  </div>
</div>

<button 
class="btn btn-primary" 
(click)="whenClicked()">Display details</button>
<p *ngIf="showSecret">Secret password is bananas</p>

<div 
	*ngFor="let buttons of buttonClicks; let i = index"
	[ngStyle]="{'background-color': i >= 4 ? 'blue' : 'transparent'}"
	[ngClass]="{gt5white: i >= 4}">
	{{ buttons }}
</div>